.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.signup{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
 
}
.signup input{
    width: 50vh;
    font-size: 16px;
    background-color: gray;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
}
.btn{
    padding: 10px;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 5px;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }